/*==================== GOOGLE FONTS ====================*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/

:root {
    --header-height: 3rem;
    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 250;
    /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margines ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 100;
}


/* Font size for large devices */

@media screen and (min-width: 968px) {
     :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}


/*==================== BASE ====================*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*==================== REUSABLE CSS CLASSES ====================*/

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
    text-align: center;
}


/*==================== LAYOUT ====================*/

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}


/*==================== NAV ====================*/

.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--first-color);
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.3s;
    }
}

.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__icon {
    font-size: 1.2rem;
}

.nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover {
    color: var(--first-color-alt);
}


/* show menu */

.show-menu {
    bottom: 0;
}


/* Active link */

.active-link {
    color: var(--first-color);
}


/* Change background header */

.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}


/*===================== LOADER ====================*/

#loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: var(--first-color);
    z-index: 101;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    font-size: 20vh;
    opacity: 0.8;
}

.loader span {
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;
}

.loader span:nth-child(odd) {
    animation-delay: 0.4s;
}

@keyframes pulse {
    to {
        transform: scale(0.8);
        opacity: 0.5;
    }
}


/*==================== HOME ====================*/

.home__container {
    gap: 1rem;
}

.home__content {
    grid-template-columns: 0.5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.25rem;
    color: var(--first-color);
}

.home__social-icon:hover {
    color: var(--first-color-alt);
}

.home__blob {
    width: 200px;
    fill: var(--first-color);
}

.home__blob-img {
    width: 200px;
}

.home__data {
    grid-column: 1/3;
}

.home__title {
    font-size: var(--big-font-size);
}

.home__subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description {
    margin-bottom: var(--mb-2);
}

.home__scroll {
    display: none;
}

.home__scroll-button {
    color: var(--first-color);
    transition: 0.3s;
}

.home__scroll-button:hover {
    transform: translateY(0.25rem);
}

.home__scroll-mouse {
    font-size: 2rem;
}

.home__scroll-name {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
    font-size: 1.25rem;
}


/*==================== BUTTONS ====================*/

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: 0.3s;
}

.button--white {
    background-color: #fff;
    color: var(--first-color);
}

.button--white:hover {
    background-color: #fff;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

.button--small {
    padding: 0.75rem 1rem;
}

.button--link {
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button--link:hover {
    background-color: transparent;
    color: var(--first-color-alt);
}


/*==================== ABOUT ====================*/

.about__img {
    width: 200px;
    border-radius: 0.5rem;
    justify-self: center;
    align-self: center;
}

.about__description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.about__info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about__info-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.about__info-name {
    font-size: var(--smaller-font-size);
}

.about__info-name,
.about__info-title {
    display: block;
    text-align: center;
}

.about__buttons {
    display: flex;
    justify-content: center;
}


/*==================== QUALIFICATION ====================*/

.qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.qualification__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qualification__button:hover {
    color: var(--first-color);
}

.qualification__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.qualification__calender {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

.qualification [data-content] {
    display: none;
}

.qualification__active[data-content] {
    display: block;
}

.qualification__button.qualification__active {
    color: var(--first-color);
}


/*==================== SERVICES ====================*/

.services__container {
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.services__content {
    position: relative;
    background-color: var(--container-color);
    padding: 3.5rem 0.5rem 1.25rem 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.services__content:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.services__icon {
    display: block;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.services__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.services__button {
    cursor: pointer;
    font-size: var(--small-font-size);
}

.services__button:hover .button__icon {
    transform: translateX(0.25rem);
}

.services__modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transform: 0.3s;
}

.services__modal-content {
    position: relative;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.services__modal-services {
    row-gap: 1rem;
}

.services__modal-service {
    display: flex;
}

.services__modal-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}

.services__modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}

.services__modal-icon {
    color: var(--first-color);
    margin-right: var(--mb-0-25);
}


/* Active Modal */

.active-modal {
    opacity: 1;
    visibility: visible;
}

.disable-scroll {
    overflow: hidden;
}


/*==================== PORTFOLIO ====================*/

.portfolio__container {
    overflow: initial;
}

.portfolio__content {
    padding: 0 1.5rem;
}

.portfolio__img {
    width: 265px;
    border-radius: 0.5rem;
    justify-self: center;
}

.portfolio__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.portfolio__description {
    margin-bottom: var(--mb-0-75);
}

.portfolio__button:hover .button__icon {
    transform: translateX(0.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
}

.swiper-portfolio-icon {
    font-size: 2rem;
    color: var(--first-color);
}

.swiper-button-prev {
    left: -0.5rem;
}

.swiper-button-next {
    right: -0.5rem;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 0.5rem;
}

.swiper-pagination-bullet-active {
    background-color: var(--first-color);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet {
    outline: none;
}


/*==================== FOOTER ====================*/

.footer {
    padding-top: 2rem;
}

.footer__container {
    row-gap: 3.5rem;
}

.footer__bg {
    background-color: var(--first-color-second);
    padding: 2rem 0 3rem;
}

.portfolio__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.portfolio__subtitle {
    font-size: var(--small-font-size);
}

.footer__links {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer__link:hover {
    color: var(--first-color-lighter);
}

.footer__social {
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}

.footer__social:hover {
    color: var(--first-color-lighter);
}

.footer__copy {
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-3);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
    color: #fff;
}


/*========== SCROLL UP ==========*/

.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: 0.8;
    padding: 0 0.3rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transform: 0.4s;
}

.scrollup:hover {
    background-color: var(--first-color-alt);
}

.scrollup__icon {
    font-size: 1.5rem;
    color: #fff;
}


/* Show scroll */

.show-scroll {
    bottom: 5rem;
}


/*========== SCROLL BAR ==========*/

::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--scroll-bar-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}


/*==================== MEDIA QUERIES ====================*/


/* For small devices */

@media screen and (max-width: 450px) {
    .snip1577 {
        padding-right: 40px;
    }
    .footer__bg {
        display: none;
    }
    .loader {
        font-size: 11vh;
    }
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .nav__menu {
        padding: 2rem 0.25rem 4rem;
    }
    .nav__list {
        column-gap: 0;
    }
    .home__content {
        grid-template-columns: 0.25fr 3fr;
    }
    .home__blob {
        width: 280px;
    }
    .qualification__data {
        gap: 0.5rem;
    }
    .services__container {
        grid-template-columns: max-content;
        justify-content: center;
    }
    .services__content {
        padding-right: 3.5rem;
    }
    .services__modal {
        padding: 0 0.5rem;
    }
    .project__img {
        width: 200px;
    }
}


/* For medium devices */

@media screen and (min-width: 450px) {
    .snip1577 {
        padding-right: 30px;
    }
    .loader {
        font-size: 14vh;
    }
    .home__content {
        grid-template-columns: max-content 1fr 1fr;
    }
    .home__data {
        grid-column: initial;
    }
    .home__img {
        order: 1;
        justify-self: center;
    }
    .about__container,
    .project__container,
    .contact__container,
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .qualification__sections {
        display: grid;
        grid-template-columns: 0.6fr;
        justify-content: center;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: -1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .loader {
        font-size: 16vh;
    }
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    body {
        margin: 0;
    }
    .section {
        padding: 6rem 0 2rem;
    }
    .section__subtitle {
        margin-bottom: 4rem;
    }
    .header {
        top: 0;
        bottom: initial;
    }
    .header,
    .main,
    .footer__container {
        padding: 0 1rem;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }
    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: none;
    }
    .nav__list {
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu {
        margin-left: auto;
    }
    .change-theme {
        margin: 0;
    }
    .home__container {
        row-gap: 5rem;
    }
    .home__content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .home__blob {
        width: 270px;
    }
    .home__scroll {
        display: block;
    }
    .home__scroll-button {
        margin-left: 3rem;
    }
    .about__container {
        column-gap: 5rem;
    }
    .about__img {
        width: 350px;
    }
    .about__description {
        text-align: initial;
    }
    .about__info {
        justify-content: space-between;
    }
    .about__buttons {
        justify-content: initial;
    }
    .qualification__tabs {
        justify-content: center;
    }
    .qualification__button {
        margin: 0 var(--mb-1);
    }
    .qualification__sections {
        grid-template-columns: 0.5fr;
    }
    /* .services__container{
        grid-template-columns: repeat(2, 218px);
        justify-self: center;
    } */
    .services__icon {
        font-size: 2rem;
    }
    .services__content {
        padding: 6rem 0 2rem 2.5rem;
    }
    .services__modal-content {
        width: 450px;
    }
    .project__img {
        width: 320px;
    }
    .portfolio__content {
        align-items: center;
    }
    .project {
        text-align: initial;
    }
    .project__bg {
        background: none;
    }
    .project__container {
        background-color: var(--first-color-second);
        border-radius: 1rem;
        padding: 3rem 2.5rem 0;
        grid-template-columns: 1fr max-content;
        column-gap: 3rem;
    }
    .project__data {
        padding-top: 0.8rem;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: -2rem;
    }
    .footer__container {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__bg {
        padding: 3rem 0 3.5rem;
    }
    .footer__links {
        flex-direction: row;
        column-gap: 2rem;
    }
    .footer__socials {
        justify-self: flex-end;
    }
    .footer__copy {
        margin-top: 4.5rem;
    }
}


/* For large devices */

@media screen and (min-width: 1024px) {
    .loader {
        font-size: 20vh;
    }
    .header,
    .main,
    .footer__container {
        padding: 0;
    }
    .home__blob {
        width: 320px;
    }
    .home__social {
        transform: translateX(-6rem);
    }
    .portfolio__content {
        column-gap: 5rem;
    }
    .portfolio__img {
        width: 350px;
    }
    .swiper-portfolio-icon {
        font-size: 3.5rem;
    }
    .swiper-button-prev {
        left: -3.5rem;
    }
    .swiper-button-next {
        right: -3.5rem;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: -4.5rem;
    }
    .contact__form {
        width: 460px;
    }
 
    .contact__inputs {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* customizable snowflake styling */

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }
    50% {
        transform: translateX(80px)
    }
    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}


/* Demo Purpose Only*/

.demo {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}

.demo a {
    font-family: 'Raleway', sans-serif;
    color: #000;
}


/* __________   */

:root {
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
}


/* Start Gallery */

.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.gallery .contain {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.contain {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .contain {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .contain {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .contain {
        width: 1170px;
    }
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:200);
.snip1577 {
    font-family: 'Montserrat', Arial, sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    left: 50px;
    min-width: 330px;
    max-width: 415px;
    width: 100%;
    color: #fff;
    text-align: left;
    font-size: 16px;
    background: #000;
}

.snip1577 *,
.snip1577:before,
.snip1577:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.snip1577 img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
}

.snip1577:before,
.snip1577:after {
    position: absolute;
    content: '';
    background-color: #fff;
    z-index: 1;
    opacity: 0;
}

.snip1577:before {
    width: 0;
    height: 1px;
}

.snip1577:after {
    height: 0;
    width: 1px;
}

.snip1577 figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px 20px;
}

.snip1577 h3,
.snip1577 h4 {
    margin: 0;
    font-size: 1.1em;
    font-weight: normal;
    opacity: 0;
}

.snip1577 h4 {
    font-size: .8em;
    text-transform: uppercase;
}

.snip1577:hover img,
.snip1577.hover img {
    zoom: 1;
    filter: alpha(opacity=20);
    -webkit-opacity: 0.2;
    opacity: 0.2;
}

.snip1577:hover:before,
.snip1577.hover:before,
.snip1577:hover:after,
.snip1577.hover:after {
    opacity: 1;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

.snip1577:hover:before,
.snip1577.hover:before {
    width: 40px;
}

.snip1577:hover:after,
.snip1577.hover:after {
    height: 40px;
}

.snip1577:hover h3,
.snip1577.hover h3,
.snip1577:hover h4,
.snip1577.hover h4 {
    opacity: 1;
}

.snip1577:hover h3,
.snip1577.hover h3 {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.snip1577:hover h4,
.snip1577.hover h4 {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
}
.services-box {
    padding: 20px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    border-bottom: 2px solid var(--main-color);
    box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
  }
  .services-box:hover{
   background-color: #02225a;
  }
  
  .services-box h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.7rem 0 0.4rem;
  }
  .services-box:hover h3{
    color: #fff;
  }
  .services-box .bx {
    padding-top: 2rem;
    font-size: 54px;
    color: var(--main-color);
  }
  .services-box:hover .bx{
    color: #22cf91;
  }
  .services-box a {
    color: var(--main-color);
    font-size: var(--p-font);
    font-weight: 500;
  }
  .services-box:hover a{
    color: #8b8a8f;
  }

  .heading {
    text-align: center;
  }
  .heading h2 {
    font-size: 30px;
  }

  .heading span {
    font-size: var(--p-font);
    color: rgb(85, 85, 218);
  }
  .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  .contact-form {
    display: grid;
    place-items: center;
    margin-top: 2rem;
  }
  .contact-form form {
    display: flex;
    flex-direction: column;
    width: 650px;
  }
  .contact-button {
    width: 160px;
    cursor: pointer;
    background: #2768d9;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 35%;
  }
  .contact-button:hover {
    background: var(--hover);
  }
  .contact-form form{
    width: 300px;
  }
  .contact-button{
    margin-left: 25%;
  }
form input,
textarea {
  padding: 15px;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: hsla(260, 79%, 83%, 0.1);
  margin-bottom: 1rem;
  color: var(--text-color);
}
form input::placeholder,
textarea::placeholder {
  color: var(--text-color);
}
form textarea {
  resize: none;
  height: 200px;
}